<mat-card class="signup-card">
    <h2>Crear Cuenta</h2>
  
    <!-- Loader spinner -->
    <div *ngIf="isLoading" class="loader-container">
      <mat-spinner></mat-spinner>
    </div>
  
    <!-- Formulario de Sign Up -->
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" type="text" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" type="text" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" class="full-width">Registrar</button>
      <button mat-raised-button color="accent" (click)="redirectToGoogle()" type="button" class="full-width">Crear cuenta con Google</button>
    </form>
  
    <p *ngIf="!isLoading">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </mat-card>
  